.btn-Remove{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.btn-add{
    background-color: blue;
    color: white;
    border-radius: 5px;
}
.product-image{
    width: 100px;
    height: auto;
}
.product{
    margin-left: 100px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}
